<div id="contents"></div>
<%= stylesheet_pack_tag 'index' %>
<%= javascript_pack_tag 'index' %>
<br>
<a href='/helloworlds' data-turbolinks="false">Helloworlds</a><br>
<a href='/mutters' data-turbolinks="false">Mutters</a><br>

